{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Sample{% endblock %}

{% block content %}

<h2>
	Add New Sample
</h2>

<a href="{% url 'home' %}" class="btn btn-default">
	<span class="glyphicon glyphicon-home"></span>
</a>

<form id="add_sample_form" method="POST" action="{% url 'add_sample' %}">
<!-- Prevents cross site request forgery -->
	{% csrf_token %}
<div>
	{{ sample_form.as_p }}
	 <input type="submit" value="Submit" class="btn btn-primary" />

</div>
	</form>
{% endblock %}
