{% extends 'base.html' %}
{% load staticfiles %}
{% load cropping %}
{% block title %}Edit Sample{% endblock %}

{% block content %}
<head>
	{{ form.media }}
</head>
<h2>
	Edit Sample Information
</h2>

<p>(<b>bold</b> = required)</p>
<div>
	<form enctype="multipart/form-data" name="{{ sample_form.form_name }}" id="add_sample_form" method="POST" action="">
<!-- Prevents cross site request forgery -->
	{% csrf_token %}

<div class='row'>
	<div class='col-md-6'>
<dl>
{% for field in form %}
{%if forloop.counter|divisibleby:"12" %}
	</dl>	
	</div>
	<div class='col-md-6'>
	<dl>
{% endif %}
    <div class="fieldWrapper">
        <dt>{{ field.label_tag }}</dt> 
	<dd>{{ field }}</dd>
        {% for error in field.errors %}
			<p style="color:#FA0101">{{ error }}</p>
		{% endfor %}        
	{% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
</dl>
<input type="submit" value="Submit" ng-disabled="{{ form.form_name }}.$invalid" class="btn btn-primary" />
<a href="{{ sample.detail_url }}" class="btn btn-default">Cancel</a>
	</div>
</div>
<script>

</script>

</div>
{% endblock %}
