{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Sample{% endblock %}

{% block content %}
<head>
	{{ form.media }}
</head>
<h2>
	Add New Sample
</h2>

<p>(<b>bold</b> = required)</p>
<div>
	<form enctype="multipart/form-data" name="{{ sample_form.form_name }}" id="add_sample_form" method="POST" action="" novalidate>
<!-- Prevents cross site request forgery -->
	{% csrf_token %}

<div class='row'>
	<div class='col-md-6'>
<dl>
{% for field in form %}
{%if forloop.counter|divisibleby:"12" %}
	</dl>	
	</div>
	<div class='col-md-6'>
	<dl>
{% endif %}
    <div class="fieldWrapper">
        <dt>{{ field.label_tag }}</dt>
		<dd>{{ field }}</dd>
        {% for error in field.errors %}
			<p style="color:#FA0101">{{ error }}</p>
		{% endfor %}        
	{% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
</dl>
<input type="submit" value="Submit" ng-disabled="{{ form.form_name }}.$invalid" class="btn btn-primary" />
<a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
	</div>
</div>
</form>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
</div>
{% endblock %}
